.insert-form-wrapper--active {
  display: flex;
  justify-content: center;
  align-items: center;
}
.insert-form-content__submit {
  background-color: rgba(0, 128, 0, 0.741);
  color: white;
  font-weight: 500;
  float: right;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.3s ease;
}
.insert-form-content__submit:hover {
  background-color: rgb(4, 170, 4);
}
