.delete-modal-wrapper--active {
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete-modal-content__submit {
  background-color: rgba(128, 0, 0, 0.741);
  color: white;
  font-weight: 500;
  float: right;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.3s ease;
}
.delete-modal-content__submit:hover {
  background-color: rgb(255, 0, 0);
}
